/* MAIN */

main{
  height: calc(100% - 16vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

main img{
  width: 16%;
  border-radius: 50%;
  border: solid  rgb(154, 154, 154) 1px;
}

main h4{
  color: rgb(154, 154, 154);
  font-size: 15px;
  font-weight: 300;
}

main h1{
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  width: 800px;
  text-align: center;
  background-image: linear-gradient(97.13deg, rgb(233, 233, 233) 0%, rgb(81, 81, 81) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

main button{
  padding: 9px 12px;
  background-color: #161616;
  color: rgb(154, 154, 154);
  border: solid .8px rgb(154, 154, 154);
}

/* Mobile responsive */

@media (max-width: 426px) {
  body{
    /* background-color: blanchedalmond; */
    padding: 6px 18px;
  }

  nav{
    height: 70px;
  }

  .nav-links{
    display: none;
  }

  main{
    height: calc(100% - 70px);
    display: flex;
    justify-content: space-between;

  }

  main h1{
    font-size: 42px;
    width: 400px;
  }

  main img{
    margin-top: 20px;
    width: 35%;
  }
}

